<h1>Edit Question</h1>

<%= render "/questions/form" %>

<!-- <%= @q.errors.full_messages.join(", ") %>
<%# Rails automatically adds a hidden field with name `_method` to this formwith its value being `PATCH` to mimic having the form submit a `patch` action (because forms only allow GET or POST). Rails know to make this form use PATCH because @q is persisted (has an id from the database) %>
<%= form_for @q do |f| %>
  <div>
    <%= f.label(:title) %>
    <%= f.text_field(:title) %>
  </div>
  <div>
    <%= f.label(:body) %>
    <%= f.text_area(:body) %>
  </div>
    <%= f.submit %>
<% end %> -->
